<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Дзе была абвешчаная дзяржаўная незалежнасць БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		Трэцяя ўстаўная грамата Рады БНР, якой абвяшчалася дзяржаўная незалежнасць Беларусі, была прынятая раніцай 25
		сакавіка на пасяджэнні Рады ў Менску па адрасе Серпухоўская, 9 (цяпер гэта Валадарскага, 9). На трэцім паверсе
		яшчэ ў сярэдзіне сакавіка была арэндаваная ў сялянскага пазямельнага банку зала для пасяджэнняў.
	</p>
</div>