<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Што такое Дзень Волі?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		<span>
			25 сакавіка 1918 года ў акупаваным немцамі Менску Рада Беларускай Народнай Рэспублікі (былы выканкам Усебеларускага з’езду) прыняла Трэцюю ўстаўную грамату, якой БНР абвяшчалася вольнай і незалежнай дзяржавай. Рада БНР аб’явіла, што Брэсцкая мірная дамова, падпісаная бальшавікамі і немцамі, страціла моц, таму заклікала перагледзець яе ўмовы.
		</span>
		<span>
			Немцы адказалі на Акт 25 сакавіка разгонам Рады БНР і Народнага Сакратарыяту, а пасля і іх забаронай. Аднак органы ўлады працягвалі дзейнічаць у Беларусі, а пасля на эміграцыі. І цяпер у замежжы існуе Рада БНР на чале з Івонкай Сурвілай, якая перахоўвае традыцыі сваіх папярэднікаў.
		</span>
	</p>
</div>
<div ng-include="'app/modern/templates/modern-comments.html'"></div>