<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Які быў лёс у стваральнікаў БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		<span>
		У пераважнай большасці стваральнікаў БНР быў трагічны лёс. У 1920-30-х гадах яны былі арыштаваныя і знішчаныя савецкімі карнымі органамі. Сярод іншых такі лёс спаткаў прэм’ераў Антона Луцкевіча і Вацлава Ластоўскага. А першы старшыня Рады БНР Янка Серада нейкім цудам выжыў і ў 1942 годзе выйшаў са зняволення ў Сібіры, аднак, што з ім далей сталася — невядома.
		</span>

		<span>
		Толькі некаторыя дзеячы БНР жылі ў вольным свеце і там скончылі свой зямны шлях — Язэп Варонка (пахаваны ў ЗША), Пятро Крэчэўскі, Васіль Захарка, Тамаш Грыб (пахаваныя ў Празе).
		</span>
	</p>
</div>