<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Перепись населения Беларуси 2009 года</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		29 апреля 2008 года постановлением Совета Министров № 765 была утверждена следующая программа переписи (перечень
		вопросов, по которым осуществляется сбор персональных данных):
		Вопросы, касающиеся владения языками:
		родной язык;
		язык, на котором респондент обычно разговаривает дома;
		другой(ие) язык(и), которым(и) свободно владеет респондент.
	</p>
</div>