<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Колькі сталіцаў было ў БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		Дзве — Менск і Гродна. Падчас Першай сусветнай вайны Беларусь падзяліў фронт. Вільня, галоўны цэнтр беларускага
		нацыянальнага руху, апынулася пад нямецкай акупацыяй, таму пасля Лютаўскай рэвалюцыі ў Расіі новым цэнтрам стаў
		Менск. Там у снежні 1917 года прайшоў Першы Ўсебеларускі З’езд, разагнаны бальшавікамі, а ў сакавіку 1918-га
		была абвешчаная дзяржаўная незалежнасць Беларусі. У канцы 1918 года, перад тым як у Менск вярнуліся бальшавікі,
		урад БНР выехаў праз Вільню ў Гродна. Гэты горад лічыўся сталіцай БНР да верасня 1919 г., пакуль урад БНР не
		вярнуўся на некалькі месяцаў у Менск, акупаваны польскімі войскамі.
	</p>
</div>
<div ng-include="'app/modern/templates/modern-comments.html'"></div>