<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Ці існаваў пашпарт грамадзяніна БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		Кіраўніцтва Беларускай Народнай Рэспублікі парупілася пра друк беларускіх пашпартоў. Агульнаграмадзянскі пашпарт
		Беларускай Народнай Рэспублікі быў выдадзены ў 1918 годзе ў славянскай друкарні Язэпа Галеўскага ў Берліне. Ён
		складаўся з 12 старонак, на вокладцы была выява герба “Пагоня”. У пашпарце пазначаліся месца і дата нараджэння,
		падданства, асаблівыя прыкметы (рост, колер валасоў, вачэй). Пашпарт можна было выкарыстоўваць для паездак за
		мяжу. Афіцыйныя ўрадавыя асобы БНР мелі дыпламатычныя пашпарты.
	</p>
</div>
<div ng-include="'app/modern/templates/modern-comments.html'"></div>