<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Якую сімволіку прыняла БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		У 1918 годзе кіраўнічыя органы БНР зацвердзілі ў якасці дзяржаўнай сімволікі бел-чырвона-белы сцяг і герб
		“Пагоня”.
		Упершыню бел-чырвона-белы сцяг быў узняты над будынкам губернатарскага дома ў Менску пасля выгнання з горада
		бальшавікоў 19 лютага 1918 года.
	</p>
</div>
<div ng-include="'app/modern/templates/modern-comments.html'"></div>