<div class="row text-center">
	<h2 class="pull-title modern helvetica-font">Ці ёсць у Беларусі пахаванні міністраў БНР?</h2>
</div>
<div class="row">
	<p class="pull-review helvetica-font">
		Паколькі большая частка дзеячоў БНР былі рэпрэсаваныя савецкімі ўладамі, магілы іх невядомыя. У апошнія гады ў
		Беларусі ўшаноўваюцца магілы трох міністраў БНР, якія памерлі альбо загінулі ў 1930-40-я гады.

		У Парэччы каля Пінска пахаваны Раман Скірмунт (1868-1939), прэм’ер БНР, забіты савецкімі актывістамі. На мінскіх
		Кальварыйскіх могілках пахаваны міністр асветы БНР Вацлаў Іваноўскі (1880-1943). У Воранаве пахаваны міністр
		вайсковых спраў ва ўрадзе Скірмунта генерал Кіпрыян Кандратовіч (1859-1932).
	</p>
</div>
<div ng-include="'app/modern/templates/modern-comments.html'"></div>