<ion-view title="Cтварыць акаўнт">
	<ion-content overflow-scroll="true" padding="true" scroll="false" class="login-content has-header">
		<div class="login-push"></div>
		<form class="login-form list">
			<ion-list>
				<label class="item item-input" name="Email">
					<input type="email" placeholder="Пошта">
				</label>
				<label class="item item-input" name="Username">
					<input type="text" placeholder="Імя">
				</label>
				<label class="item item-input" name="Password">
					<input type="text" placeholder="Пароль">
				</label>
			</ion-list>
			<a ui-sref="tabsController.chronicle" id="signup-button3" class="button button-outline button-dark button-block">
				Стварыць
			</a>
		</form>
	</ion-content>
</ion-view>