<ion-view title="Signup">
	<ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
		<form class="list">
			<ion-list>
				<label class="item item-input" name="Email">
					<input type="email" placeholder="Email">
				</label>
				<label class="item item-input" name="Username">
					<input type="text" placeholder="Username">
				</label>
				<label class="item item-input" name="Password">
					<input type="text" placeholder="Password">
				</label>
			</ion-list>
			<a ui-sref="tabsController.chronicle" id="signup-button3" class="button button-positive  button-block">Sign
				up</a>
		</form>
	</ion-content>
</ion-view>