<div class="row text-center">
	<h2 class="pull-title antiqua-font">Беларускі Альфабэт</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Беларускі альфабэт — альфабэт беларускай мовы. Афіцыйна ўжываецца толькі кірылічны беларускі альфабэт. У мінулым
		выкарыстоўвалася лацінка, якая цяпер ужываецца вельмі абмежаваным колам носьбітаў беларускай мовы. Таксама ў
		мінулым вялікалітоўскія татары пісалі на беларускай мове арабскім пісьмом — арабіцай.
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->