<div class="slab-font">
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБ<span style="color: red">БНР</span>БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>
	<p class="bssr-text">БССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССРБССР</p>

</div>