<div class="row text-center">
	<h2 class="pull-title antiqua-font">Беларуская Народная Рэспубліка</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Белару́ская Наро́дная Рэспу́бліка, Biełaruskaja Narodnaja Respublika (БНР, BNR) — беларуская дзяржава, улада
		якой распаўсюджвалася на частку тэрыторыі сучаснай Беларусі з 25 сакавіка 1918 году да 28 красавіка 1919 году
		(зь перапынкамі), а таксама ў часе Слуцкага збройнага чыну (27.11—31.12.1920).
		Дзяржаўныя сымбалі — бел-чырвона-белы сьцяг і герб Пагоня. Сталіца — Менск. Дзяржаўная і абавязковая мова —
		беларуская (з 12.04.1918). Часовая канстытуцыя ад 11 кастрычніка 1918. Выдача пашпартоў.
	</p>
</div>
<div ng-include="'app/national/templates/national-comments.html'"></div>