<div class="row text-center">
	<h2 class="pull-title antiqua-font">Беларуская Савецкая Сацыялістычная Рэспубліка</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Афіцыйнае абвяшчэньне БССР адбылося 1 студзеня 1919 году. Сталіцай БССР абраны Менск, хоць першапачатковай
		сядзібай ЛітБелу была Вільня, а ў пазьнейшым часе была перанесеная ў Смаленск (з прычыны бальшавіцка-польскай
		вайны).

		Пасьля Другой сусьветнай вайны БССР стала адным зь сяброў-заснавальнікаў Арганізацыі Аб’яднаных Нацыяў.

		У ліпені 1990 году БССР абвясьціла сувэрэнітэт. 19 верасьня 1991 году назва БССР была зьмененая на Рэспубліку
		Беларусь[1]. 8 сьнежня 1991 году, у вёсцы Віскулі каля Берасьця, на падставе белавескага дагавора падпісана
		рашэньне аб ліквідацыі СССР. У гэты ж дзень Беларуская Савецкая Сацыялістычная Рэспубліка спыніла сваё
		існаваньне, а рэспубліка пазьней пераўтворана ў незалежную Беларусь.
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->