<div class="quote-wrapper">
	<p class="quote-text neucha-font text-center">«Беларуская Народная Рэспубліка стала сакральнай ідэяй»</p>
	<p class="quote-author">Зянон Пазьняк</p>
</div>

<div>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
	<p class="orn-font idea-orn">БЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬБЕЛАРУСЬ</p>
</div>