<div class="row text-center">
	<h2 class="pull-title antiqua-font">Беларускі лацінскі алфавіт</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Беларускі лацінскі алфавіт (таксама «беларуская лацінка» (ва ўласным запісе — «biełaruskaja łacinka») ад слова
		«лацінка», нефармальнай назвы лацінскага алфавіта наогул) — агульная назва некалькіх гістарычна існавалых сістэм
		запісу беларускага (кірылаўскага) тэксту ў лацінскай сістэме пісьма.
		Ужываецца, час ад часу, у сённяшняй форме некаторымі аўтарамі, зацікаўленымі групамі і прапагандыстамі ў
		штотыднёвіку «Наша Ніва», часопісе «Архэ», часткай прэсы беларускай дыяспары, у Сеціве. Вядомыя выпадкі ўжывання
		беларускага лацінскага алфавіта беларускімі вытворцамі на сваёй прадукцыі (напрыклад, надпіс на беларускай
		лацінцы можна ўбачыць на шкляных бутэльках з Крамбамбуляй або на схемах у Мінскім метрапалітэне).
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->