<div class="lacinka-title versa-font">
	<p>Belaruskaya Lacinka</p>
</div>

<div class="antiqua-font lacinka">
	<span>Aa</span>
	<span>Bb</span>
	<span>Cc</span>
	<span>Ćć</span>
	<span>Čč</span>
	<span>Dz</span>
	<span>Dž</span>
	<span>Ee</span>
	<span>Ff</span>
	<span>Gg</span>
	<span>Hh</span>
	<span>Ii</span>
	<span>Kk</span>
	<span>Łł</span>
	<span>Mm</span>
	<span>Nn</span>
	<span>Oo</span>
	<span>Pp</span>
	<span>Rr</span>
	<span>Ss</span>
	<span>Tt</span>
	<span>Uu</span>
	<span>Ŭŭ</span>
	<span>Vv</span>
	<span>Yy</span>
	<span>Zz</span>
	<span>Žž</span>
</div>