<div class="row text-center">
	<h2 class="pull-title antiqua-font">Беларускі лацінскі алфавіт</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Беларускі лацінскі алфавіт (таксама «беларуская лацінка» (ва ўласным запісе — «biełaruskaja łacinka») ад слова
		«лацінка», нефармальнай назвы лацінскага алфавіта наогул) — агульная назва некалькіх гістарычна існавалых сістэм
		запісу беларускага (кірылаўскага) тэксту ў лацінскай сістэме пісьма.
	</p>
</div>
<div ng-include="'app/national/templates/national-comments.html'"></div>