<div class="row text-center">
	<h2 class="pull-title antiqua-font">Дудка беларуская</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		«Dudka biаłaruskaja», «Дудка беларуская» — паэтычны зборнік Францішка Багушэвіча, выдадзены (пад псеўданімам
		Мацей Бурачок) восенню 1891 г. у Кракаве.
		Прадмова Францішка Багушэвіча да зборніка «Дудка беларуская» стала своеасаблівым маніфестам беларускага
		нацыянальна-культурнага адраджэння і моцным штуршком развіцця прафесійнай беларускамоўнай культуры.
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->