<div class="row text-center">
	<h2 class="pull-title antiqua-font">Юзаф Пілсудскі і Беларусь</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		<span>Да сённяшняга дня ў беларусаў неадназначнае стаўленне да постаці «начальніка польскай дзяржавы», і ўвогуле да ІІ
		Рэчы Паспалітай. Але на тэрыторыі нашай краіны захаваўся самы сапраўдны помнік Юзафу Пілсудскаму. У Вілейцы на
		тэрыторыі адной з устаноў стаіць вялізны, вагай амаль у тону, камень, пастаўлены ў гонар маршала ў 1935 годзе.
		Першапачаткова помнік стаяў каля школы ў вёсцы Буцькі. У верасні 1939-га камень быў вывезены ў поле і праляжаў
		там да 2004 года, калі супрацоўнікі польскай амбасады ў Мінску пажадалі размясціць яго каля будынку свайго
		дыпрадстаўніцтва. Палякам у гэтым адмовілі, але помнік перавезлі ў Вілейку.
		</span>
		<span>
		Будучы вялікім патрыётам Польшчы, Ю. Пілсудскі дзесьці ў глыбіні душы захаваў вялікую павагу і любоў да былога
		Вялікага Княства Літоўскага і яго народаў. Аднак геапалітычныя рэаліі пачатку ХХ стагоддзя паклалі свой адбітак
		на дзейнасць «начальніка польскай дзяржавы» і прымусілі яго адмовіцца ад свайго бачання будучыні Усходняй
		Еўропы.
		</span>
	</p>
</div>
<div ng-include="'app/national/templates/national-comments.html'"></div>