<swipe-cards>
	<swipe-card ng-repeat="card in cards"
	            on-destroy="cardDestroyed($index)"
	            on-card-swipe="cardSwiped($index)">
		<div>
			<div class="title text-center">
			</div>
			<div class="image">
				<img ng-src="{{card.image}}">
			</div>
			<div class="button-bar">

				<button class="button button-clear button-dark">
					<span class="swipe-card-title">{{card.title}}</span>
				</button>
			</div>
		</div>
	</swipe-card>
</swipe-cards>
<div class="quote-wrapper">
	<p class="quote-text-repression antiqua-font">
		Акрамя асуджаных у 1920—1930-я, рэпрэсавана і выслана за межы БССР больш за 250 тыс.
		Усяго з 1954 да пачатку 2000 року ў Беларусі рэабілітавана больш за 200 тыс. ахвяраў палітычных
		рэпрэсіяў
	</p>

</div>