<div class="row text-center">
	<h2 class="pull-title antiqua-font">Рэпрэсіі ў БССР</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Паводле няпоўных падлікаў (многія дакумэнты не захаваліся) ахвярамі палітычных рэпрэсіяў у Беларусі ў 1917—1953
		сталі каля 600 тыс. чал., згодна зь іншымі зьвесткамі — ня менш за 1 млн 400 тыс. чал., зь іх 250 тыс.
		асуджаныя судовымі ці пакараныя рашэньнямі пазасудовых органаў («двоек», «троек», асобых нарадаў, калегіяў АДПУ,
		НКУС, Міністэрства дзяржаўнай бясьпекі (МДБ)). Усяго з 1954 да пачатку 2000 року ў Беларусі рэабілітавана больш
		за 200 тыс. ахвяраў палітычных рэпрэсіяў.
	</p>
</div>