<div class="row text-center">
	<h2 class="pull-title antiqua-font">Клясычны правапіс</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Беларускі клясычны правапіс, або тарашкевіца — правапіс беларускай мовы (у шырэйшым сэнсе —
		моўная норма), заснаваны на літаратурнай норме сучаснай беларускай мовы і яе правілах да палітычнай
		рэформы беларускай артаграфіі 1933 году і пэўных акадэмічных прапановах 1930, 1933 і 1993 гадоў. Зьяўляецца
		першым унармаваным правапісам беларускай мовы і традыцыйным беларускім правапісам у сучасным разуменьні.

		Першая нармалізацыя беларускага клясычнага правапісу была зробленая Браніславам Тарашкевічам у 1918 годзе і
		знаходзілася ў афіцыйным ужытку да рэформы беларускага правапісу 1933 году.

		Назва «тарашкевіца» падкрэсьлівае большую блізкасьць правапісу да працы Б. Тарашкевіча 1918 году і была
		ўведзеная ў моўны ўжытак пад канец 1980-х гадоў беларускім мовазнаўцам Вінцуком Вячоркам па аналёгіі з сэрбскай
		«вукавіцай» — кірылічным сэрбскім альфабэтам, названым у гонар рэфарматара сэрбскай мовы Вука Караджыча.
		Прыблізна з 1994 году як сынонім з прыярытэтным выкарыстаньнем ужываецца назва «клясычны правапіс».

		У 2005 годзе з выхадам кнігі «Беларускі клясычны правапіс. Збор правілаў» была зьдзейсьненая сучасная
		нармалізацыя клясычнага правапісу. У 2007 годзе IANA надала тарашкевіцы ўласны моўны падтэг «tarask» (поўнае
		пазначэньне: be-tarask).
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->