<div class="slab-font">
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
	<p class="bssr-text">ПЛЯН СЫМБАЛЬ ФIЛЯЗОФIЯ АЛЬФАБЭТ СЁНЬНЯ АРТАГРАФIЯ МАРФАЛЁГIЯ</p>
</div>

<div class="taras-letter versa-font">
	<span>Ь</span>
</div>
<div class="taras-grammar">
	<p class="text-center">ГРАМАТЫКА ТАРАШКЕВIЧА</p>
</div>