<div class="row text-center">
	<h2 class="pull-title antiqua-font">У нескладовае</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">
		Упершыню ў сучаснай беларускай мове асобная літара для гука [w] зьявілася ў сярэдзіне XIX стагодзьдзя ў
		беларускай лацінцы ў розных варынтах — ú, курсіўнае u, u з гачыкам (ǔ), w̆, ŭ. У вершаванай брашуры Яна Чачота
		«Da milych mužyczkoú», якая была выдадзеная ў 1846 годзе, літара выглядала як u з рыскай — ú. У Вінцэнта
		Дуніна-Марцінкевіча выкарыстоўваецца курсіўнае u. Звычайная u на месцы нескладовай зьмешчаная ў публікацыях
		Кастуся Каліноўскага 1862—1863
		гадоў. Сустраканыя таксама варыянты u з гачыкам (ǔ). W з брэвісам (w̆) выкарыстоўваў Браніслаў Эпімах-Шыпіла
		(1889). У 1897 выдаецца першы том «Люду беларускага» этнографа Міхала Федароўскага; ва ўсім шматтомніку багата
		аўтэнтычных тэкстаў, запісаных Федароўскім беларускай лацінкай. У гэтых запісах у пазыцыі пасьля галосных гук
		[w] (у нескладовае) перадаецца як u̯ (напрыклад: kazau̯; pierapau̯zła; jak u̯ziau̯ by u̯ ruku; uhledzieu̯), у
		той час як ŭ выкарыстоўвалася для вельмі кароткага (і ў шпаркай мове выпадаючага) [у] (напрыклад, pakazŭwaj;
		padwiazŭwaje; panakruczŭwała, dziakŭwać Bohu). І толькі ў Багушэвіча літара набывае свой сучасны выгляд — ŭ. Яна
		ўжытая ў кракаўскім выданьні Францішка Багушэвіча «Dudka Białaruskaja» 1891 году.
	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->