<div class="slab-font">
	<div class="udzelniki-title">
		<p>Удзельнiкi</p>
	</div>
	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">i</span></div>
	</div>
</div>

<script id="my-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title neucha-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
	</ion-popover-view>
</script>