<div class="slab-font repression-wrapper">
	<div class="udzelniki-title">
		<p>Удзельнiкi</p>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event, 0)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event, 1)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event, 2)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>

	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
	<div class="row repression-row">
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
		<div class="col" ng-click="openPopover($event)"><span class="repression-element">i</span></div>
	</div>
</div>

<script id="my-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title antiqua-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
	</ion-popover-view>
</script>