<div class="row text-center">
	<h2 class="pull-title antiqua-font">Рада БНР</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">

		У Раду БНР увайшлі вядомыя дзеячы беларускага нацыянальна-вызваленчага руху, у тым ліку:

		Антон Аўсянік
		Палута Бадунова
		Язэп Варонка
		Тамаш Грыб
		Кастусь Езавітаў
		Васіль Захарка
		Лявон Заяц
		Макар Краўцоў
		Пётр Крачэўскі
		Язэп Лёсік
		Язэп Мамонька
		Сымон Рак-Міхайлоўскі
		Янка Серада
		Аркадзь Смоліч
		Браніслаў Тарашкевіч
		і іншыя.
		У склад Рады БНР былі кааптаваныя 6 прадстаўнікоў Віленскай беларускай рады (ВБР):

		Вацлаў Ластоўскі
		Антон Луцкевіч
		Іван Луцкевіч
		Ян Станкевіч
		Дамінік Сямашка
		Я. Туркевіч
		а таксама прадстаўнікі нацыянальных меншасцей, земстваў і гарадоў.
	</p>
</div>
<div ng-include="'app/national/templates/national-comments.html'"></div>