<div class="row text-center">
	<h2 class="pull-title antiqua-font">Рада БНР</h2>
</div>
<div class="row">
	<p class="pull-review antiqua-font">

		У Раду БНР увайшлі вядомыя дзеячы беларускага нацыянальна-вызваленчага руху, у тым ліку:

		Антон Аўсянік
		Палута Бадунова
		Язэп Варонка
		Тамаш Грыб
		Кастусь Езавітаў
		Васіль Захарка
		Лявон Заяц
		Макар Краўцоў
		Пётр Крачэўскі
		Язэп Лёсік
		Язэп Мамонька
		Сымон Рак-Міхайлоўскі
		Янка Серада
		Аркадзь Смоліч
		Браніслаў Тарашкевіч
		і іншыя.
		У склад Рады БНР былі кааптаваныя 6 прадстаўнікоў Віленскай беларускай рады (ВБР):

		Вацлаў Ластоўскі

		Мінскі гарадскі тэатр, у якім у снежні 1917 г. адбываліся пасяджэнні І Усебеларускага з'езду; яго Выканкам у
		далейшым быў пераўтвораны ў Раду БНР (сучасны выгляд)[Крыніца?].
		Антон Луцкевіч
		Іван Луцкевіч
		Ян Станкевіч
		Дамінік Сямашка
		Я. Туркевіч
		а таксама прадстаўнікі нацыянальных меншасцей, земстваў і гарадоў.

		Старшынёй Рады БНР стаў былы старшыня Прэзідыума Усебеларускага з'езда Янка Серада.

		Па стане на 25 сакавіка 1918 налічвалася 77 членаў Рады:

		36 - абраныя на Усебеларускім з'ездзе,
		6 — ад Віленскай беларускай рады,
		15 — ад нацыянальных меншасцей (рускай, польскай, яўрэйскай),
		10 — ад земстваў,
		10 — ад гарадоў.
		19 сакавіка 1918 Рада прыняла палажэнне аб вярхоўнай уладзе БНР, у якой абвяшчалася, што ніводзін закон не будзе
		мець сілы без зацвярджэння яго Радай БНР.

		У складзе Рады дзейнічалі камісіі, у перыяд паміж пленарнымі пасяджэннямі працаваў Прэзідыум Рады БНР. З шэрагаў
		членаў Рады БНР фарміраваўся Урад БНР.

	</p>
</div>
<!--<div class="row">-->
<!--<textarea class="pull-comment" placeholder="Камэнтарый"></textarea>-->
<!--<button class="button button-balanced">Дадаць</button>-->
<!--</div>-->