<ion-view title="Нацыяналістычная хроніка">
	<ion-content overflow-scroll="true" padding="false" class="national-back has-header">

		<div class="list card chronicle-slide">
			<morph-carousel data-items="items" on-selected="selectedItem" show-value="number"></morph-carousel>
		</div>

		<!--<section id="cd-timeline" class="cd-container">-->
		<!--<div ng-repeat="activity in timeline | filter: {year: selectedItem.number}">-->
		<!--<div class="cd-timeline-block">-->
		<!--<div class="cd-timeline-picture text-center assertive">-->
		<!--</div>-->
		<!--<div class="cd-timeline-content padding">-->
		<!--<h5 class="cd-timeline-title marginBottom0 marginTop0">{{activity.title}}</h5>-->
		<!--<a ng-click="goToDetails(activity.id)" href="" class="cd-timeline-discuss">-->
		<!--<i class="ion-document-text dark"></i>-->
		<!--</a>-->
		<!--<p class="marginTop5 cd-author">{{activity.date}}</p>-->
		<!--<p read-more ng-model="activity.text" words="true" length="20"></p>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</section>-->

		<div ng-show="selectedItem.number === 1918">
			<div class="circle">

			</div>

			<div class="bnr-text">
				БНР
			</div>

			<div class="triangle">

			</div>
		</div>

		<div ng-show="selectedItem.number === 1919">
			<swipe-cards>
				<!--<swipe-card on-card-swipe="cardSwiped($index)" id="start-card">-->
				<!--Swipe down for a new card-->
				<!--</swipe-card>-->
				<swipe-card ng-repeat="card in cards"
				            on-destroy="cardDestroyed($index)"
				            on-card-swipe="cardSwiped($index)">
					<div>
						<div class="title text-center">
						</div>
						<div class="image">
							<img ng-src="{{card.image}}">
						</div>
						<div class="button-bar">

							<button class="button button-clear button-dark" ng-click="goToDetails(index)">
								<span class="swipe-card-title">{{card.title}}</span>
							</button>
						</div>
					</div>
				</swipe-card>
			</swipe-cards>
		</div>

		<!--<ion-pull-up-footer class="bar-dark"-->
		                    <!--on-expand="footerExpand()"-->
		                    <!--on-collapse="footerCollapse()"-->
		                    <!--initial-state="minimized"-->
		                    <!--default-behavior="expand">-->
			<!--<ion-pull-up-handle width="100"-->
			                    <!--height="25"-->
			                    <!--toggle="ion-chevron-up ion-chevron-down"-->
			                    <!--class="ion-pull-up-handle">-->
				<!--<i class="icon ion-chevron-up"></i>-->
			<!--</ion-pull-up-handle>-->

			<!--<ion-pull-up-content class="details-discuss" scroll="false">-->
				<!--<div class="row">-->

				<!--</div>-->
				<!--<div class="row">-->

				<!--</div>-->
			<!--</ion-pull-up-content>-->

		<!--</ion-pull-up-footer>-->

	</ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title neucha-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
	</ion-popover-view>
</script>