<ion-view title="Нацыянальная хроніка">
	<ion-content overflow-scroll="true" padding="false" class="national-back has-header">

		<div class="list card chronicle-slide">
			<morph-carousel data-items="years" on-selected="selectedYear" show-value="number"></morph-carousel>
		</div>

		<div ng-if="selectedYear.number === 1912" ng-include="'app/national/templates/u.html'"></div>

		<div ng-if="selectedYear.number === 1913" ng-include="'app/national/templates/lacinka.html'"></div>

		<div ng-if="selectedYear.number === 1914" ng-include="'app/national/templates/tarashkevich.html'"></div>

		<div ng-if="selectedYear.number === 1915" ng-include="'app/national/templates/idea.html'"></div>

		<div ng-if="selectedYear.number === 1916" ng-include="'app/national/templates/tarashkevich-element.html'"></div>

		<div ng-if="selectedYear.number === 1917" ng-include="'app/national/templates/udzelniki.html'"></div>

		<div ng-if="selectedYear.number === 1918" ng-include="'app/national/templates/sun.html'"></div>

		<div ng-if="selectedYear.number === 1919" ng-include="'app/national/templates/circle.html'"></div>

		<div ng-if="selectedYear.number === 1920" ng-include="'app/national/templates/repressions.html'" class="center-swipe"></div>

		<div ng-if="selectedYear.number === 1921" ng-include="'app/national/templates/map.html'"></div>


		<div ng-if="selectedYear.number === 1922" ng-include="'app/national/templates/bssr.html'"></div>

	</ion-content>
	<ion-pull-up-footer class="bar-dark"
	                    on-expand="footerExpand()"
	                    on-collapse="footerCollapse()"
	                    initial-state="minimized"
	                    default-behavior="expand">
		<ion-pull-up-handle width="100"
		                    height="25"
		                    toggle="ion-chevron-up ion-chevron-down"
		                    class="ion-pull-up-handle">
			<i class="icon ion-chevron-up"></i>
		</ion-pull-up-handle>

		<ion-pull-up-content class="national-pull" scroll="false">

			<div ng-if="selectedPull === 1912" ng-include="'app/national/templates/u-pull.html'"></div>

			<div ng-if="selectedPull === 1913" ng-include="'app/national/templates/lacinka-pull.html'"></div>

			<div ng-if="selectedPull === 1914" ng-include="'app/national/templates/tarashkevich-pull.html'"></div>

			<div ng-if="selectedPull === 1915" ng-include="'app/national/templates/idea-pull.html'"></div>

			<div ng-if="selectedPull === 1916" ng-include="'app/national/templates/tarashkevich-element-pull.html'"></div>

			<div ng-if="selectedPull === 1917" ng-include="'app/national/templates/udzelniki-pull.html'"></div>

			<div ng-if="selectedPull === 1918" ng-include="'app/national/templates/sun-pull.html'"></div>

			<div ng-if="selectedPull === 1919" ng-include="'app/national/templates/circle-pull.html'"></div>

			<div ng-if="selectedPull === 1920" ng-include="'app/national/templates/repressions-pull.html'"></div>

			<div ng-if="selectedPull === 1921" ng-include="'app/national/templates/map-pull.html'"></div>

			<div ng-if="selectedPull === 1922" ng-include="'app/national/templates/bssr-pull.html'"></div>

		</ion-pull-up-content>

	</ion-pull-up-footer>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title helvetica-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
	</ion-popover-view>
</script>