<ion-view title="Савецкая хроніка">
	<ion-content overflow-scroll="true" padding="true" class="soviet-back has-header">

		<div class="list card chronicle-slide">
			<morph-carousel class="soviet-carousel"
			                data-items="years"
			                on-selected="selectedYear"
			                show-value="number"></morph-carousel>
		</div>
		<div ng-if="selectedYear.number === 1916" ng-include="'app/soviet/templates/gallery.html'"></div>

		<div ng-if="selectedYear.number === 1917" ng-include="'app/soviet/templates/nezal.html'"></div>

		<div ng-if="selectedYear.number === 1918" ng-include="'app/soviet/templates/kaizer.html'"></div>

		<div ng-if="selectedYear.number === 1919" ng-include="'app/soviet/templates/bssr.html'"></div>

		<div ng-if="selectedYear.number === 1920" ng-include="'app/soviet/templates/sluck.html'"></div>

		<div ng-if="selectedYear.number === 1921" ng-include="'app/soviet/templates/souz.html'"></div>

		<div ng-if="selectedYear.number === 1922" ng-include="'app/soviet/templates/reforma.html'"></div>

		<div ng-if="selectedYear.number === 1923" ng-include="'app/soviet/templates/bnr.html'"></div>

		<div ng-if="selectedYear.number === 1924" ng-include="'app/soviet/templates/repressions.html'"></div>

		<div ng-if="selectedYear.number === 1925" ng-include="'app/soviet/templates/likv.html'"></div>


	</ion-content>
</ion-view>

<ion-pull-up-footer class="bar-dark"
                    on-expand="footerExpand()"
                    on-collapse="footerCollapse()"
                    initial-state="minimized"
                    default-behavior="expand">
	<ion-pull-up-handle width="100"
	                    height="25"
	                    toggle="ion-chevron-up ion-chevron-down"
	                    class="ion-pull-up-handle">
		<i class="icon ion-chevron-up"></i>
	</ion-pull-up-handle>

	<ion-pull-up-content class="soviet-pull" scroll="false">
		<div ng-if="selectedPull === 1916" ng-include="'app/soviet/templates/gallery-pull.html'"></div>

		<div ng-if="selectedPull === 1917" ng-include="'app/soviet/templates/nezal-pull.html'"></div>

		<div ng-if="selectedPull === 1918" ng-include="'app/soviet/templates/kaizer-pull.html'"></div>

		<div ng-if="selectedPull === 1919" ng-include="'app/soviet/templates/bssr-pull.html'"></div>

		<div ng-if="selectedPull === 1920" ng-include="'app/soviet/templates/sluck-pull.html'"></div>

		<div ng-if="selectedPull === 1921" ng-include="'app/soviet/templates/souz-pull.html'"></div>

		<div ng-if="selectedPull === 1922" ng-include="'app/soviet/templates/reforma-pull.html'"></div>

		<div ng-if="selectedPull === 1923" ng-include="'app/soviet/templates/bnr-pull.html'"></div>

		<div ng-if="selectedPull === 1924" ng-include="'app/soviet/templates/repressions-pull.html'"></div>

		<div ng-if="selectedPull === 1925" ng-include="'app/soviet/templates/likv-pull.html'"></div>

	</ion-pull-up-content>

</ion-pull-up-footer>

<script id="soviet-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title helvetica-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
		<ion-footer-bar class="repression-footer">
			<span>{{repression.info}}</span>
		</ion-footer-bar>
	</ion-popover-view>
</script>