<div class="row text-center">
	<h2 class="pull-title truth-font">Эмиграция Рады БНР</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		24 марта 1923 года польский сейм ратифицировал решение о принятии Виленского края в состав Польши. После этого
		литовское руководство потеряло интерес к сотрудничеству с Радой БНР и отказалось финансировать её деятельность.
		В ноябре 1923 года члены правительства БНР покинули Каунас и переехали в Прагу.
	</p>
</div>
<div ng-include="'app/soviet/templates/soviet-comments.html'"></div>