<div class="row text-center">
	<h2 class="pull-title truth-font">Государство</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		Дзяржа́ва — адмысловая арганізацыя грамадства, аб'яднанага агульнымі сацыяльнымі і культурнымі інтарэсамі.
		Займае акрэсленую тэрыторыю, мае ўласную сістэму кіравання, валодае ўнутраным і вонкавым суверэнітэтам.

		Дзяржава аперshуе пэўнымі метадамі захавання і падтрымання дзяржаўнай цэласнасці, суверэнітэту, правапарадку,
		традыцый ўнутры грамадства, усталёўвае пэўны парадак узаемаадносін паміж грамадзянамі дзяржавы, і залучае ў сваю
		дзейнасць усё насельніцтва на ўласнай і іншых тэрыторыях, у адпаведнасці з міжнароднымі дамовамі дзяржавы.
		Парадак узаемаадносін паміж членамі грамадства і прымянення ўлады вызначаецца канстытуцыяй, законамі і іншымі
		прававымі дакументамі дзяржавы, якія з'яўляюцца часткай будовы дзяржавы; а таксама традыцыямі, якія
		сфарміраваліся ўнутры дзяржавы, у гістарычнай рэчаіснасці.
	</p>
</div>
<div ng-include="'app/soviet/templates/soviet-comments.html'"></div>