<div class="row text-center">
	<h2 class="pull-title truth-font">Герб Беларускай ССР</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		<span>
			Дзяржаўны сымбаль Беларускай Савецкай Сацыялістычнай Рэспублікі. Герб Беларускай ССР грунтаваўся на гербе
		Савецкага Саюзу. Быў прыняты 30 сакавіка 1927 году на паседжаньні Саўнаркаму БССР.
		</span>
		<span>
		Канстытуцыя ССРБ (3.2.1919) у ст. 31 апісвала герб Беларусі:
		залатыя серп і молат на чырвоным фоне ў прамянях узыходзячага сонцу, вакол — вянок з каласоў і надпісы:
		«Сацыялістычная Савецкая Рэспубліка Беларусь» і «Пралетары ўсіх краін, злучайцеся!».
	    </span>
	</p>
</div>
<div ng-include="'app/soviet/templates/soviet-comments.html'"></div>