<div>
	<p class="german-font">Deutsches</p>
	<p class="gable-font">BELARUSKAYA NARODNAYA RESPUBLIKA</p>
	<p class="german-font">Kaiserreich</p>
	<div>
		Рада Беларускае Народнае Рэспублікі, як выбраная прадстаўніца Беларускага Народу, зварачаецца да Вашай
		Імпэратарскай Вялікасьці з словамі глыбокае падзякі за вызваленьне Беларусі нямецкімі войскамі з цяжкага ўціску,
		чужога пануючага зьдзеку і анархіі.

		Рада Беларускае Народнае Рэспублікі дэкляравала незалежнасьць цэлае і непадзельнае Беларусі і просіць Вашую
		Імпэратарскую Вялікасьць аб абароне у яе кіраваньнях дзеля ўмацаваньня дзяржаўнае незалежнасьці і
		непадзельнасьці краю у сувязі з Германскай Імпэрыяй.

		Толькі пад абаронай Германскай Імпэрыі бачыць край сваю добрую долю у будучыні
	</div>
</div>