<div class="row text-center">
	<h2 class="pull-title truth-font">День независимости</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		25 марта 1918 года представители белорусского национального движения в условиях германской оккупации объявили о
		создании независимой Белорусской Народной Республики (БНР). После поражения Германии в Первой мировой войне и
		эвакуации германских войск в декабре 1918 года большая часть территории БНР была занята Красной Армией РСФСР,
		правительство БНР переехало в Гродно, впоследствии частично находилось в Ковно (Каунасе).
	</p>
</div>