<div class="row text-center">
	<h2 class="pull-title truth-font">Реформа белорусского правописания 1933 года</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		После того, как «Грамматика для школ» Бронислава Тарашкевича получила официальный статус в БССР (начало 1920-х
		гг.), опыт её широкого использования (в системе образования и пр.) выявил ряд недостатков и недоработок.
		Решения конференции по положениям проекта послужили основой («авторитетным, но необязательным материалом») для
		работы Правописной комиссии под рук. Степана Некрашевича (работала с 7 декабря 1927 года по 7 апреля 1929 года),
		чьей задачей была разработка проекта реформы белорусской орфографии — «упростить грамматику Тарашкевича в
		сложных или неясных местах, дополнить её в местах недостаточной разработанности, например, правописания
		заграничных слов, совместно с созданием новых правил (правописание имён и географических названий)».
	</p>
</div>
<div ng-include="'app/soviet/templates/soviet-comments.html'"></div>