<div class="helvetica-font narkom-text">
	<p><span class="line-through">Эўропа</span> Еўропа</p>
	<p><span class="line-through">Нямеччына</span> Германія</p>
	<p><span class="line-through">Артаграфія</span> Арфаграфія</p>
	<p><span class="line-through">Філязофія</span> Філасофія</p>
	<p><span class="line-through">Лексікалёгія</span> Лексікалогія</p>
	<p><span class="line-through">Сымбаль</span> Сімвал</p>
	<p><span class="line-through">Марфалёгія</span> Марфалогія</p>
	<p><span class="line-through">Сёньня</span> Сёння</p>
	<p><span class="line-through">Зьмест</span> Змест</p>
	<p><span class="line-through">Плян</span> План</p>
	<p><span class="line-through">Лёгіка</span> Логіка</p>
</div>