<div class="neucha-font">
	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>

	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>
	<div class="row repression-row">
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element">O</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event)">X</span></div>
	</div>
</div>

<script id="soviet-popover.html" type="text/ng-template">
	<ion-popover-view>
		<ion-header-bar class="repression-title neucha-font">
			<span>{{repression.name}}</span>
		</ion-header-bar>
		<ion-content class="repression-content">
			<img class="repression-img" ng-src="{{repression.photo}}">
		</ion-content>
		<ion-footer-bar class="repression-footer">
			<span>{{repression.info}}</span>
		</ion-footer-bar>
	</ion-popover-view>
</script>