<div class="helvetica-font text-center">
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>

	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
	<div class="row repression-row soviet">
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 0)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 1)">X</span></div>
		<div class="col"><span class="repression-element" ng-click="openPopover($event, 2)">X</span></div>
	</div>
</div>