<div class="row text-center">
	<h2 class="pull-title truth-font">Союз безбожников</h2>
</div>
<div class="row">
	<p class="pull-review slab-font">
		Союз воинствующих безбожников сразу же развернул большую работу по пропаганде атеизма, по созданию музеев и
		выставок, выпуску научной и научно-популярной литературы, а также ряда периодических изданий — газета
		«Безбожник», журналы «Безбожник», «Антирелигиозник», «Воинствующий атеизм», «Юные безбожники» и другие печатные
		издания, выходившие на различных языках народов СССР. Издательство «Безбожник» (впоследствии — Государственное
		издательство антирелигиозной литературы (ГАИЗ)) выпустило большое количество атеистической литературы.
	</p>
</div>
<div ng-include="'app/soviet/templates/soviet-comments.html'"></div>