.neucha-font {
	font-family: 'Neucha', cursive;
}

.slab-font {
	font-family: 'Roboto Slab', serif;
}

.versa-font {
	font-family: 'Versa-SemiBold', serif;
}

.truth-font {
	font-family: 'Real Truth', serif;
}

.helvetica-font {
	font-family: Helvetica, serif;
}

.times-font {
	font-family: "Times New Roman", serif;
}

/* cyrillic */
@font-face {
	font-family: 'Neucha';
	font-style: normal;
	font-weight: 400;
	src: local('Neucha'), url("fonts/neucha.woff2") format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url("fonts/slab.woff2") format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* latin */
@font-face {
	font-family: 'Versa-SemiBold';
	src: url("fonts/versa.woff2");
}

/* cyrillic */
@font-face {
	font-family: 'Real Truth';
	src: url("fonts/truth.ttf");
}