.intro-back {
	background: linear-gradient(141deg, #B72624 0%, #AE2624 51%, #a72523 75%);
	color: #fff;
}

.intro-title {
	font-size: 20px;
	height: 50%;
	text-align: center;
	padding-top: 30px;
}

.intro-text {
	height: 50%;
	text-align: justify;
	font-size: 12px;
}

.intro-logo {
	background: no-repeat top url("img/styles/intro.png");
	height: 70%;
	width: 100%;
	margin-bottom: 20px;
}