.intro-back {
	background: linear-gradient(141deg, #a32928 0%, #972827 51%, #902827 75%);
	color: #fff;
}

.intro-title {
	font-size: 20px;
	height: 50%;
	text-align: center;
	padding-top: 30px;
}

.intro-text {
	margin-top: 65px;
	text-align: justify;
	font-size: 12px;
	padding: 0 25px;
}

.intro-logo {
	background: no-repeat top url("img/styles/intro.png");
	height: 80%;
	width: 100%;
	margin-bottom: 25px;
}