.modern-words-row {
	margin-bottom: 15px;
}

.modern-word-ru {
	font-size: 25px;
	font-weight: bold;
}

.modern-word-by.translated {
	text-decoration: line-through;
}

.modern-bnr {
	color: #fff;
	font-size: 160px;
	text-align: center;
}

.modern-date {
	font-size: 36px;
	color: white;
	font-weight: bold;
	border: 2px solid;
	border-color: #e4e0fb #b6b1d1 #b6b1d1;
	border-radius: 6px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	margin: 10px;
	padding: 10px;
}

.modern-date-wrapper {
	margin: 40px 0;
	color: #fff;
}

.modern-sluck {
	background: url("img/repression/sluck.jpg") no-repeat;
	width: 604px;
	height: 454px;
	margin: auto;
}

.modern-sluck2 {
	display: inline-block;
	background: url("img/repression/sluck2.jpg") no-repeat;
	width: 300px;
	height: 222px;
	margin: 5px 5px 0 73px;
}

.modern-sluck3 {
	display: inline-block;
	background: url("img/repression/sluck3.jpg") no-repeat;
	width: 300px;
	height: 222px;
	margin: auto;
}

.mova-text {
	font-size: 12px;
	text-align: justify;
}

.points-postcard {
	position: absolute;
	bottom: 0%;
	height: 80%;
	left: 22%;
}

.big-polaroids swipe-card .image {
	max-height: 425px;
}

.big-polaroids .swipe-cards {
	margin-left: 40px;
}