.morph-carousel-stage {

}

.morph-carousel__item {
	color: black;
}

.morph-carousel__separator {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 50%;
	width: 45px;
	margin-left: -21px;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
}

.morph-carousel__shadow {
	top: 0;
	bottom: 0;
	left: -4px;
	right: -4px;
	position: absolute;
	z-index: 10;
}
