.repression-row {
	margin: 50px 0 35px 5px;
}

.repression-element {
	font-size: 35px;
}

.repression-content {
	height: 100%;
	border-radius: 0 !important;
	text-align: center;
}

.repression-content .scroll {
	background: #444444;
}

.repression-title {
	background-color: #444;
	color: #eee;
	font-size: 20px;
}

.repression-title span {
	margin: auto;
	display: inline-block;
	text-align: center;
}

.repression-footer {
	opacity: 0.7;
	bottom: -40px;
}

.repression-footer span {
	margin: auto;
}

.repression-img {
	max-height: 237px;
}

.popover-arrow:after {
	background-color: #444 !important;
}

.triangle {
	width: 100%;
	border-bottom: 8em solid black;
	border-right: 56em solid transparent;
	position: absolute;
	bottom: 47px;
}

.circle {
	width: 100%;
	padding-top: 100%;
	background: black;
	border-radius: 100%;
	position: absolute;
	right: 53%;
	bottom: 16%;
}

.bnr-text {
	color: #B72624;
	position: absolute;
	font-size: 6em;
	left: 28%;
	transform: rotate(5deg);
	-webkit-transform: rotate(8deg);
	bottom: 135px;
}

.idea-orn {
	color: #B72624;
	font-size: 3em;
	line-height: 1em;
	white-space: pre;
	margin: 0;
}

.bssr-text {
	white-space: pre;
	line-height: 30px;
	margin: 0;
	font-size: 2em;
	padding: 0;
}

.bssr-text.taras-text {
	font-size: 21px;
}

.sun-postcard {
	clear: both;
}

.sun-postcard img {
	height: auto;
	max-height: calc(100vh - 400px);
}

.map-title {
	font-size: 50px;
	text-align: center;
}

.map-postcard {

}

.map-postcard img {
	width: 95%;
	height: auto;
}

.map-delegation {
	font-size: 26px;
	line-height: 60px;
}

.map-forbid {
	font-size: 14px;
	line-height: 1px;
}

.u-left {
	font-size: 32em;
	position: absolute;
	bottom: 55%;
	left: -14%;
}

.u-right {
	font-size: 32em;
	position: absolute;
	bottom: 55%;
	right: 28%;
}

.u-text {
	font-size: 14px;
	text-align: justify;
	padding: 0 25px;
}

.u-wrapper {
	position: absolute;
	bottom: 15%;
	left: 3%;
}

.quote-text-repression {
	font-size: 1.5em;
	text-align: justify;
	padding: 0 20px;
	position: absolute;
	bottom: 21%;
	line-height: 1em;
}

.quote-text-repression.bottom-quote {
	bottom: 11%;
}

.lacinka {
	text-align: justify;
}

.lacinka span {
	display: inline-block;
	padding: 5px;
	margin: 26px;
	font-size: 5em;
}

.lacinka-title {
	font-size: 45px;
	margin: 55px 0;
	line-height: 35px;
}

.udzelniki-title {
	font-size: 26px;
	text-align: center;
}

.taras-letter {
	font-size: 25em;
	font-weight: bold;
	position: absolute;
	top: 42%;
	right: 36%;
}

.taras-grammar {
	font-size: 3em;
	margin-top: 25px;
	font-weight: bold;
	position: absolute;
	top: 57%;
	left: 14%;
	z-index: 2;
}

.popover {
	width: 181px;
}

.center-swipe .swipe-cards {
	margin-left: 55px !important;
}