.settings-back {
	text-align: center;
	height: 100%;
}

.settings-create {
	margin-top: 55% !important;
}

.settings-social {
	font-size: 25px;
}

.settings-options {
	text-align: left;
}

.settings-save {
	width: 100%;
}