.login-content {
	background: #444141;
}

.login-push {
	height: 65%;
	width: 100%;
}

.login-header {
	background: #444141;
}

.login-icon {
	color: #fff;
	font-size: 100px;
	text-align: center;
}

.login-hello {
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.login-hello .item-toggle {
	border: none;
	margin-top: 20px;
	color: #fff;
	background: #333;
}

.national-back.has-tabs, .soviet-back.has-tabs, .modern-back.has-tabs {
	bottom: 0;
}

.national-back, .national-pull {
	background: linear-gradient(141deg, #E7DACD 0%, #DBCEC1 51%, #D0C3B6 75%);
}

.national-pull {
	color: #000;
}

.show-comments {
	margin-left: 15px;
}

.youtube-push {
	margin-bottom: 20px;
}

.modern-back, .modern-pull {
	background: linear-gradient(141deg, #57604C 0%, #515A47 51%, #49523F 75%);
}

.modern-pull, .modern-pull .pull-title {
	color: white;
}

.soviet-back, .soviet-pull {
	background: linear-gradient(141deg, #a32928 0%, #972827 51%, #902827 75%);
	color: #fff;
}

.soviet-pull, .soviet-pull .pull-title {
	color: #fff;
}

.bar-stable.bar.bar-header, .tabs-stable > .tabs, .tabs.tabs-stable {
	background: #444141;
	background-image: none;
}

.bar.bar-stable .title, .tabs-stable > .tabs, .tabs.tabs-stable, .back-button {
	color: #E1E1E1 !important;
}

.login-form .button-outline {
	border-width: 2px;
}

.details-discuss {
	background-image: url("img/styles/discuss.png");
}

.login-spacer {
	height: 25px;
}

.ion-pull-up-handle {
	border-radius: 25px 25px 0 0;
}

.quote-text {
	font-size: 16px;
}

.quote-title {
	font-size: 20px;
}

.quote-author {
	font-size: 12px;
	font-style: italic;
	text-align: -webkit-right;
	margin-right: 28px;
}

.quote-wrapper {
	margin: 50px 0;
}

.text-white {
	color: #fff;
}

.pull-comment {
	width: 50%;
}

.pull-title {
	padding: 20px 10px;
}

.pull-title.modern {
	font-size: 22px;
}

.pull-review {
	text-align: justify;
	font-size: 20px;
	padding: 20px 10px;
}

.pull-review span {
	margin-bottom: 10px;
	display: inline-block;
}

.another-chronicle {
	position: absolute;
	bottom: 15%;
	left: 47%;
}

.another-chronicle-modern {
	position: absolute;
	top: 17%;
	right: 11%;
}

.img-push {
	margin-top: 6%;
}

.img-push.push-lg {
	margin-top: 24%
}

.img-title {
	font-size: 20px;
	margin-bottom: 30px;
}

.pull-comments {
	margin-top: 60px;
}