.login-content {
	background-image: url("img/login.jpg");
	background-size: 100% 100%;
}

.login-push {
	height: 65%;
	width: 100%;
}

.login-form .item-input {
	opacity: 0.8;
}

.details-content.has-tabs {
	bottom: 0;
}